node_modules
npm-debug.log
.idea
.env
yarn-error.log
.tmp
upload/*
logs/*
dist
!/lib/**/dist/
database.log
debug.log
.DS_Store
coverage
test.json
.env.development
.env.test
.env.production
.env.staging
.env.debug
development.env
test.env
production.env
staging.env
debug.env
seed.env
